.weatherInfo {
  display: flex;
  gap: 40px;
  width: 100%;
}

.labelText {
  display: flex;
}

.infoCard {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  background-image: url("/images/sky.avif");
  background-size: cover;
  background-position: top right;
  border-radius: 30px;
  padding: 40px;
}

.infoCard h1 {
  margin-top: 30px;
  font-size: 30px;
}

.airInfo {
  background-image: url("/images/wind.jpg");
}

.airInfo div:first-child {
  display: flex;
}

.infoIcon {
  width: 50px;
  height: 50px;
}

.infoHeadAir,
.airInfo {
  color: white;
}

.infoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 25px;
  text-align: center;
}

.infoHeading {
  font-size: 14px;
  margin-bottom: 4px;
}

.infoText {
  font-size: 17px;
  font-weight: 600;
}

.infoContainer div {
  max-width: max-content;
  padding: 16px 25px;
  border-radius: 16px;
}
.pressure {
  background: black;
  color: white;
}

.visibility {
  background: #dff297;
  color: black;
}

.humidity {
  background: white;
  color: black;
}

.windInfo {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
}

.windInfo p {
  color: black;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .infoCard {
    width: 100%;
    padding: 20px;
  }

  .infoText {
    font-size: 14px;
  }

  .infoContainer div {
    padding: 20px 14px;
  }
}

@media screen and (max-width: 1280px) {
  .infoCard {
    width: 100%;
    padding: 20px;
  }
  .weatherInfo {
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .infoContainer div {
    padding: 20px 30px;
  }
}
