.weatherInfo {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  width: 100%;
  margin-bottom: 40px;
}

.infoCard {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 300px;
  background-image: url("/images/sky.avif");
  background-size: cover;
  background-position: top right;
  border-radius: 30px;
  padding: 40px;
}

.infoCard h1 {
  margin-top: 30px;
  font-size: 30px;
}

.airInfo {
  background-image: url("/images/wind.jpg");
}

.airInfo div:first-child {
  display: flex;
}

.infoIcon {
  width: 50px;
  height: 50px;
}

.infoHeadAir,
.airInfo {
  color: white;
}
.pressure {
  background: black;
  max-width: max-content;
  color: white;
  padding: 16px 25px;
  border-radius: 16px;
}

.infoContainer {
  display: flex;
  gap: 20px;
  margin-top: 25px;
  text-align: center;
}

.infoHeading {
  font-size: 14px;
  margin-bottom: 4px;
}

.infoText {
  font-size: 17px;
  font-weight: 600;
}

.visibility {
  background: #dff297;
  max-width: max-content;
  color: black;
  padding: 16px 25px;
  border-radius: 16px;
}

.humidity {
  background: white;
  max-width: max-content;
  color: black;
  padding: 16px 25px;
  border-radius: 16px;
}

.windInfo {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
}

.windInfo p {
  color: black;
  font-weight: 600;
  font-size: 20px;
}
