.navContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
  align-items: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.avatarImg {
  width: 40px;
  height: 40px;
  objectfit: cover;
}

.navContainer p {
  font-size: 18px;
  font-weight: 600;
  flex-shrink: 0;
}

.navContainer span {
  display: block;
  font-weight: 500;
}

.searchContainer {
  background: #f7f7f7;
  display: flex;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  position: relative;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.searchContainer input {
  background: #f7f7f7;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50px;
  border-radius: 20px;
  background: #f7f7f7;
  padding: 10px;
  overflow-y: auto;
  max-height: 400px;
  width: 270px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.resultCard {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navContainer {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .searchContainer {
    width: 170px;
    margin-left: 3px;
    flex: 1;
  }
  .navContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 850px) {
  .navContainer p {
    display: none;
  }
}
